input[type=radio] {
    display: none;
}

#questions {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.question {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.answers {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.topRow {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 0;
}

.bottomRow {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;

}

label:hover img{
    border-style: solid ;
    border-radius: 10px;
    border-color: rgb(245, 7, 118); 
    width: 200px;
}



p {
    font-family: 'Sintony', sans-serif;
    z-index: 100;
  position: absolute;
  cursor: pointer;
  padding-bottom: 65px;
  max-width: 100px;
  padding-top: 15px;
  
}







h1 {
    font-family: 'Londrina Outline', cursive;
    display: flex;
    justify-content: center;
    font-size: 70px;
    background-image: url(header.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    Height: 200px; 
    color: white;
    align-items: center;
}


h2 {
    display: flex;
    justify-content: center;
    background-image: url(back.jpg);
    background-position: center;
    background-size: cover;
    Height: 75px; 
    width: 75%;
    align-self: center;
    align-items: center;


}

img {
    position: absolute;
    height: 150px;
    width: 150px; 
    -webkit-transition: width 2s; 
    transition: width 2s;
}



button {
    display: flex;
    justify-content: center;
    align-content: center;
    border-style: solid;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background-color: darksalmon;
    
}

button:hover {
    box-shadow: 0 9px #999;
}

.close:hover {
    cursor: pointer;
}

#calculate {
    display: flex;
    justify-content: center;
}

.modalHidden {
    display: none;
}

.modalShown {
    display: flex;
    justify-content: center;
    
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  animation: bounceIn 500ms linear 0s 1 forwards;
}

.modalContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#yourImage {
    position: inherit;
    display: flex;
    justify-content: center;
    align-self: center;
}

#get {
    font-family: 'Open Sans Condensed', sans-serif;


    font-size: 20px;
}

@keyframes bounceIn{
    0%{
      transform: scale(0.25) translate3d(0,0,0);
    }
    50%{
      transform: scale(1.11);
    }
    80%{
      transform: scale(0.88);
    }
    100%{
      transform: scale(1) translate3d(0,0,0);
    }
  }

  @media only screen and (max-width: 640px) {
    .topRow {
        flex-direction: column;
        align-items: center;
    }

    .bottomRow {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 50px;
    }

    img {
        width: 50%;
    }

    h2 {
        width: 100%;
    }

  }
  


